.returnPrevios{
    font-family: 'Quicksand', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    border: #F97F29 1px solid;
    border-radius: 8px;
    background-color:rgba(249, 127, 41, 0.8);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    color: aliceblue;
    padding: 1px;
    margin-right: 50px;
    height: 55px;
    width: 165px;
}