.start{
    font-family: 'Quicksand', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 38px;
    border:#F97F29 1px solid;
    border-radius: 8px;
    padding: 10px;
    background-color: #F97F29;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    color: aliceblue;
    height: 80px;
    width: 200px;
}
